
body{
  font-family: Arial;
}

#header{
  font-size: 3em;
  font-weight: bold;
  margin-top: 40px;
}

#sliderText {
  margin-top: -35px;
  margin-bottom: 30px;
  font-size: .8em;
}

#slider{
  width: 60%;
  display: grid;
  margin-left: auto;
  margin-right: auto;
}

#red-blue-line{
  margin-top: -56px;
  width: 100%;
}

#search-field {
  padding-bottom: 16px;
}

a {
  font-size: 12px;
  text-decoration: none;
}

#mainContainer {
  display: -webkit-flex;
  display: flex;
  flex-direction: column;
  justify-content: center;
}


#newsContainer {
   display: -webkit-flex;
   display: flex;
   -webkit-align-items: center;
   align-items: center;
   -webkit-justify-content: center;
   justify-content: center;
   -webkit-flex-flow: row wrap;
   flex-flow: row wrap;
   /* tweak the where items line up on the row */
   /* valid values are: flex-start, flex-end, space-between, space-around, stretch */
   -webkit-align-content: flex-end;
   align-content: flex-end;
   margin-top:30px;
}

#card {
  width: 300px;
  padding: 5px;
}
