
body{
  font-family: Arial;
}

#header{
  font-size: 3em;
  font-weight: bold;
  margin-top: 40px;
}

#sliderText {
  margin-top: -35px;
  margin-bottom: 30px;
  font-size: .8em;
}

#slider{
  width: 350px;
  margin-left: auto;
  margin-right: auto;
}