
body{
  font-family: Arial;
}

a, a:link, a:hover, a:visited, a:active {
  color: black;
}

#header{
  font-size: 3em;
  font-weight: bold;
  margin-top: 40px;
}

#sliderText {
  margin-top: -35px;
  margin-bottom: 30px;
  font-size: .8em;
}

#slider{
  width: 60%;
  display: grid;
  margin-left: auto;
  margin-right: auto;
}

#red-blue-line{
  margin-top: -56px;
  width: 100%;
}

#search-field {
  padding-bottom: 16px;
}

a {
  font-size: 12px;
  text-decoration: none;
}

.fa {
  font-size: 30px;
  color: white;
  margin-right: 10px;
}

#github-button {
  display: flex;
  align-items: center;
  background-color:#6e5494;
  padding: 8px 15px;
}

#github-button a {
  color: white;
}

#github-button a:visited {
  color: white;
}

.container {

  display: -webkit-flex;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#newsContainer {
   display: -webkit-flex;
   display: flex;
   -webkit-align-items: center;
   align-items: center;
   -webkit-justify-content: center;
   justify-content: center;
   -webkit-flex-flow: row wrap;
   flex-flow: row wrap;
   /* tweak the where items line up on the row */
   /* valid values are: flex-start, flex-end, space-between, space-around, stretch */
   -webkit-align-content: flex-end;
   align-content: flex-end;
   margin-top:30px;
}

#card {
  width: 300px;
  padding: 5px;
}

#headerContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

#profile-header {
  display: flex;
  justify-content: space-around;
  width: 50%;
  margin-bottom: 25px;
  background-color: rgb(233, 233, 233);
  border-radius: 5px;
  padding: 15px 25px;
}

.header-item {
  font-size: 1em;
}

.header-item a {
  font-size: 1em;
  font-weight: 800;
}

#news-pref-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-right: 20px;
  width: 300px;
  height: 100px;
  font-size: 0.9em;
  font-weight: 800;
  background-color: rgb(233, 233, 233);
  border-radius: 5px;
  margin: 20px;
  cursor: pointer;
}

.selected {
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.308),
              inset 0 0 30px rgba(0, 0, 0, 0.3);
  background-color: rgb(209, 209, 209) !important;
}

#news-pref-item:hover {
  background-color: rgb(209, 209, 209);
}

#news-pref-item img {
  min-width: 100px;
  max-width: 100px;
  min-height: 100px;
  max-height: 100px;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

#profile-container {
  display: flex;
  flex-wrap: wrap;
  width: 60%;
  justify-content: space-between;
}